.logo {
    background-color: #F7D7E0;
    display:flex;
    width: 50%;
    align-items:center;
    justify-content:center;
    width: 50%;
    height:100vh;
    justify-content: space-evenly;
}
.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    justify-content: space-evenly;
    width: 50%;
}

#juntos{
    display: flex;
    align-content: flex-start;
}

.ar-one-sans{
    font-family: "AR One Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: bold;
    font-variation-settings:
      "ARRR" 10;
  }
  
h2{
    display: flex;
    justify-content: center;
}