<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="./../../assets/images/faivcon.ico" type="image/x-icon">
        
        <link rel="stylesheet" href="./../../styles/locations.css">
        <link rel="stylesheet" href="./../../styles/navBar.css">
        <title>LOCACION</title>
    </head>

<body> 
    <header>
        <nav id="navBar"></nav>
    </header>
    <main>
        <section id="locationSection" class="firstSection">
            <h1>Encontranos en: </h1>
            <div class="container">
                <div class="location">
                    <h3>La Plata, Buenos Aires</h3>
                    <p>Tel: 222 222-2222</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2831.516105254936!2d-57.95420672628046!3d-34.92151250004009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e62b1f0085a1%3A0xbcfc44f0547312e3!2sLa%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1715816649526!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div> 
                <div class="location">
                    <h3>Palermo Shopping, Buenos Aires</h3>
                    <p>Tel: 666 666-6666</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52563.58254619596!2d-58.462215338049845!3d-34.573200561520416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca83d2aa1521%3A0xc7a941fe0d021ba0!2sAlto%20Palermo%20Shopping!5e0!3m2!1ses-419!2sar!4v1715816762816!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div> 
                <div class="location">
                    <h3>Puerto Madryn, Chubut</h3>
                    <p>Tel: 888 888-8888</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2436.6015643114833!2d-65.02524031082018!3d-42.77782821432312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbe02355e87a2ead1%3A0x1e890d2810b44382!2sPuerto%20Madryn%2C%20Chubut!5e1!3m2!1ses-419!2sar!4v1715817836924!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>         
            </div>
        </section>
    </main>
    <script src="./../../scripts/navbar.js"></script>
    <script src="./../../components/navbar/navbar.js"></script>
    <script src="./../../scripts/locations.js"></script>
</body>
</html>