<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/src/assets/images/faivcon.ico" type="image/x-icon">

        <link rel="stylesheet" href="/src/styles/catalogue.css">
        <link rel="stylesheet" href="/src/styles/navBar.css">
        <link rel="stylesheet" href="/src/styles/card.css">
        <title>Catálogo</title>
    </head>
    
    <body>
        <header>
            <nav id="navBar"></nav>
        </header>

        <main>
            <section id="catalogueSection" class="firstSection">
                <h1>CATÁLOGO</h1>
                <p class="catalogueSectionP">Para proyectos personalizados hablar directamente a la sucursal de preferencia</p>

                <div id="catalogueItemsSection"></div>
            </section>
        </main>

        <script src="/src/scripts/navbar.js"></script>
        <script src="/src/components/navbar/navbar.js"></script>
        <script src="/src/components/card/card.js"></script>
        <script src="/src/scripts/catalogue.js"></script>
    </body>
</html>