* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    color: black;
}

body {
    background-color: #fdf4f9;
}

h1 {
    font-size: 3.2rem; /* Aumenta el tamaño de fuente del h1 */
    color: #333; /* Asegura un buen contraste */
    margin-bottom: 1rem;
}

h3 {
    font-size: 2.4rem; /* Aumenta el tamaño de fuente del h3 */
    color: #333; /* Asegura un buen contraste */
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.6rem; /* Aumenta el tamaño de fuente del p */
    color: #333; /* Asegura un buen contraste */
    margin-bottom: 1rem;
}

main {
    width: 100%;
    max-width: 140rem;
    margin: auto;
    padding: 0 2rem;
}

/* Estilos para locacion */
#locationSection {
    margin: 12rem 0rem;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}
.location {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    background-color: #F7D7E0;
    border-radius: 10px;
}
.location h3 {
    margin-top: 0;
}
.location iframe {
    width: 100%;
    height: 40rem;
    border: none;
    border-radius: 10px;
}

/* Media Queries */
@media only screen and (max-width: 575px) {
    main {
        padding: 0 2rem;
    }
    .location {
        flex-basis: calc(100% - 20px);
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    main {
        padding: 0 2rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    main {
        padding: 0 2rem;
    }
    .location {
        flex-basis: calc(50% - 20px);
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    main {
        padding: 0 2rem;
    }
    #locationSection {
        margin: 12rem 0rem 6rem 0rem !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
    main {
        padding: 0 2rem;
    }
    #locationSection {
        margin: 12rem 0rem 6rem 0rem !important;
    }
}

@media only screen and (min-width: 1440px) {
    main {
        padding: 0;
    }
    #locationSection {
        margin: 12rem 0rem 6rem 0rem !important;
    }
}